.about__article-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  margin-left: 82px;
}

@media screen and (max-width: 767px) {
  .about__article-text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
