.footer__form {
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (max-width: 1417px) {
  .footer__form {
    max-width: 486px;
  }
}

@media screen and (max-width: 767px) {
  .footer__form {
    max-width: 280px;
  }
}
