.about {
  padding: 80px 20px 0 20px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .about {
    padding: 60px 20px 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 40px 20px 0 20px;
  }
}
