@media screen and (max-width: 1417px) {
  .about__qoute-image_min {
    width: 364px;
    height: 452px;
  }
}

@media screen and (max-width: 767px) {
  .about__qoute-image_min {
    width: 280px;
    height: 348px;
  }
}
