.header__title {
  margin: 0;
  padding: 0;
  max-width: 700px;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .header__title {
    font-size: 32px;
    line-height: 40px;
    max-width: 485px;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    font-size: 24px;
    line-height: 32px;
    max-width: 280px;
  }
}
