.about__qoute-image {
  margin-left: 525px;
  position: relative;
}

@media screen and (max-width: 1419px) {
  .about__qoute-image {
    margin-left: 243px;
  }
}

@media screen and (max-width: 767px) {
  .about__qoute-image {
    margin: 0;
    width: 280px;
    margin-bottom: 20px;
  }
}
