.looks__gallery-item {
  width: 350px;
  height: 436px;
  display: block;
}

.looks__gallery-item:nth-child(5n),
.looks__gallery-item:nth-child(6n),
.looks__gallery-item:nth-child(7n)
 {
  display: none;
}

@media screen and (max-width: 1419px) {
  .looks__gallery-item {
    width: 243px;
    height: 302px;
    display: block;
  }

  .looks__gallery-item:nth-child(4n),
  .looks__gallery-item:nth-child(5n),
  .looks__gallery-item:nth-child(6n),
  .looks__gallery-item:nth-child(7n)
   {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .looks__gallery-item {
    width: 140px;
    height: 174px;
    display: block;
  }

  .looks__gallery-item:nth-child(5n)
  {
    display: block;
  }

}
