.looks__gallery-item
{
  width: 350px;
  height: 436px;
  display: block;
}

@media screen and (max-width: 1023px) {
  .looks__gallery-item {
    width: 243px;
    height: 302px;
  }

  .looks__gallery-item:nth-child(4n) {
   display: none;
  }

}

@media screen and (max-width: 767px) {
  .looks__gallery-item {
    width: 140px;
    height: 174px;

  }
  .looks__gallery-item:nth-child(4n) {
    display: block;
   }
}
