.about__qoute {
  padding: 50px 0 0 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}

@media screen and (max-width: 767px) {
  .about__qoute {
    padding: 40px 0 0 0;
    flex-direction: column;
  }
}
