.footer {
  background-color: $black;
  padding: 40px 0 40px 0;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 40px 20px 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 20px 0 20px;
  }
}
