@media screen and (max-width: 1419px) {
  .about__qoute-image_size_min  {
    width: 364px;
    height: 452px;
  }
}

@media screen and (max-width: 767px) {
  .about__qoute-image_size_min{
    width: 280px;
    height: 348px;
  }
}
