@media screen and (max-width: 1419px) {
  .about__qoute-image_size_max {
    width: 485px;
    height: 607px;
  }
}

@media screen and (max-width: 767px) {
  .about__qoute-image_size_max {
    width: 280px;
    height: 350px;
  }
}
