.header__burger {
  background-image: url("../../../../images/burger.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header__burger {
    width: 24px;
    height: 24px;
  }
}
