.header__menu {
  width: 480px;
  height: 100vh;
  background-color: $black;
  position: absolute;
  left: 0;
  top:0;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .header__menu {
    width: 320px;
    height: 100vh;
  }
}
