.about__article-image {
  width: 618px;
}

@media screen and (max-width: 1419px) {
  .about__article-image {
    width: 304px;
  }
}

@media screen and (max-width: 767px) {
  .about__article-image {
    width: 280px;
    margin-bottom: 20px;
  }
}
